<p id="jsonData" style="display: none;"></p>

<h4 id="userName"></h4>

<p>664baedf96662a7771be61bd</p>

<form action="" id="newPasswordForm">

    <label for="newPassword">Nueva contraseña:</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <label for="newPasswordRepeat">Repetir contraseña:</label>
    <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" required>
    <input type="submit" name="passwordSubmit" id="passwordSubmit" value="Confirmar">
</form>


<script src="/js/change-password.js"></script>