<p id="jsonData" style="display: none;">{{payload}} </p>

<h3>Chat</h3>

<div>
    <input id="chatBox">
    <button id="sendMessage">Enviar Mensaje</button>
</div>

<div id="messagesDiv">
    <p id="messageLogs"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>