

<h3>Ingresa tu nombre de Usuario</h3>
<form action="/auth/forget-password" method="post" id="userInput">
    <input type="text" name="userName" id="algo" required>
    <input type="submit" value="ingresar" >
</form>
<h4>Confirmaremos tu usuario y te enviaremos un mail a tu dirección de correo registrada.</h4>

<script>

    document.getElementById('userInput').addEventListener('submit', (e) => {

        const data = new FormData(document.getElementById('userInput'))

        const obj = []

        {{!-- data.forEach((value, key) => obj[key] = value) --}}
        data.forEach((value, key) => obj.push({userName:value}))

        const dataSend = obj[0]

        console.log(dataSend)
        
        e.preventDefault()
        fetch('/auth/forget-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dataSend)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            localStorage.setItem('token', data.access_token);
        })
        .catch(error => console.log(error))


    })
    

</script>

