<p id="payload" style="display: none;">{{payload}}</p>

<h2 id="productTitle"></h2>

<div id="productContainer"></div>

<button id="chatToOwner">Enviar mensaje a usuario</button>
<a href="/products"><button>Volver a productos</button></a>

<script src='/js/product.js'></script>