  <p id="jsonData" style="display: none;" >{{jsonData}}</p>


<h3>Finalizaste tu compra {{first_name}}</h4>


<h4>Ticket de tu compra:</h4>
<p id="ticket">{{saleData}}</p>
<p id="ticketRender"></p>

<p>Se envió un correo con el detalle de tu compra</p>


<div id="options">

</div>
<a href="/products"><button>Volver a productos</button></a>

<script src="/js/ticket.js"></script>

