<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final Coderhouse</title>
        <style>
        .preview {
            margin-top: 10px;
        }
        .preview img {
            max-width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Proyecto Final Coderhouse</h1>
    <a href="/products"><h2>Ecommerce</h2></a>
    {{{body}}}
</body>
</html>